html {
  scroll-behavior: smooth;
}
/* font-family: "Amatic SC", sans-serif; */
/* font-family: "Inter", sans-serif; */

:root{
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;;

  --color-primary: #CE1212;
  --body-color: #ffffff;
  --cards: #ffffff;
  --text-primary:#212529;
  --text-secondary:#7F7F90;
  --text-third:black;
  --hover:#E61414;
  --info:#F5F5F5;
  
  --section:#eeeeee;
}

#Dark-Mode{
  display: none;
}

#Dark-Mode:checked ~ .site-container{
  .fa-moon{
    display: none;
  }
  .fa-sun{
    display: contents;
  }
  .wave-dark{
    display: block;
    
  }
  .wave-light{
    display: none;
  }
  --color-primary: #C17E1F;
  --body-color:#202020;
  --text-primary:#FFFFFF;
  --text-secondary:#9F9F9F;
  --text-third:#fff;
  --cards:#171717;
  --section:#252525;
  --hover:#D78C23;
  --info:#0D0D0D;
  
  
}

.site-container{
  background-color: var(--body-color);
  
}


body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.Containers{
  width: 1320px;
  margin: auto;
}

h3 {
  font-family: var(--font-secondary);
  font-size: 18.72px;
  font-weight: 700;
  color: var(--text-primary);
}
span {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary);
  font-family: var(--font-default);
}
h2 {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  color: var(--text-primary);
}
p {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-secondary);
  font-family: var(--font-default);
}
a,label {
  cursor: pointer;
}

.nav {
  box-shadow: 0px 0px 14px 0px #0000001b;
  background-color: var(--cards);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

img {
  width: 50%;
}
.navBar {
  height: 89.2px;
  align-items: center;
  padding: 25px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-family: var(--font-default);
  font-weight: 600;
  color: black;
}
.navBar h1 a {
  color: var(--text-primary);
  font-size: 30px;
  font-weight: 700;
  position: relative;
}
.navBar ul a {
  position: relative;
  transition: 0.4s;
}
.navBar ul a::after {
  content: "";
  height: 2.5px;
  background-color:  var(--color-primary);
  position: absolute;
  inset: 0;
  top: 130%;
  width: 0%;
  transition: 0.4s;
}

.navBar ul a:hover::after {
  width: 100%;
}
.navBar ul a:hover {
  color: var(--text-third);
}
.navBar ul .homeAnc {
  color: var(--text-third);
}
.navBar ul .homeAnc::after {
  width: 100%;
}
.navBar li {
  padding: 5px 15px;
  font-size: 17px;
  font-family:var(--font-default);
  font-weight: 600;
}
.navBar li a {
  color: var(--text-secondary);
}
.navBar i {
  font-size: 25px;
  font-weight: 900;
}
.navBar .fa-sun {
  font-weight: 400;
  color: #ffffff;
  display: none;
}
/* --------- End Of Nav --------- */
/* ------------ Home ------------ */
.Home {
  background-color: var(--section);
  width: 100%;
  height: 100vh;
}
.HomeContent > h2 {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 65px;
  font-weight: 700;
}


.HomeContent > p {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
}

.HomeInner {
  min-height: calc(100vh - 95px);
  margin: auto;
  margin-top: 89.2px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 5px 40px 5px;
}
.HomeContent {
  width: 524px;
  height: 310.2;
}

.HomeInner img {
  width: 524px;
  height: 524px;
  filter: drop-shadow(4px 4px 9px #000a);
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-3px) rotate(-1deg);
  }
  50% {
    transform: translateX(3px) rotate(1deg);
  }
  75% {
    transform: translateX(-3px) rotate(-1deg);
  }
}

.HomeInner img:hover {
  animation: shake 0.5s infinite;
}
.HomeContent .btn1 {
  background-color:  var(--color-primary);
  color: var(--cards);
  font-size: 15px;
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 0px 100vh 100vh;
  transition: 0.4s;
}
.btn1:hover{
  background-color: var(--hover);
}
.btns {
  display: flex;
  align-items: center;
  gap: 40px;
}
.HomeContent .btn2 {
  height: 55px;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.4s;
}

.btn2 i {
  background-color: var(--cards);
  padding: 10px 12px;
  border-radius: 50%;
  margin-right: 5px;
  z-index: 1;
}
.btn2:hover{
  color: var(--hover);
}

/* .btn2 i::before{
  content: "";
  width: 20px;
  height: 40px;
  position: absolute;
  top: -15%;
  left: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; 
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #E61414;
  z-index: 0;
} */

.halfCircle {
  width: 25px;
  height: 50px;
  background-color:  var(--color-primary);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  left: -5%;
  top: 5%;
  z-index: 0;
}
/* -------- End of Home --------- */

.Chefs {
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 90px;
  /* position: relative; */
}
.Chef {
  width: 33%;
  padding: 20px;
}
.ChefInner {
  border-radius: 10px;
  height: fit-content;
  position: relative;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.5s;
}

.ChefInner:hover {
  transform: scale(1.08);
}
.ChefInner:hover .overlay {
  right: 3%;
}
.ChefPic {
  display: flex;
}

.ChefPic img {
  width: 100%;
  border-radius: 10px;
}
.chef-img {
  position: relative;
}
.ChefPic .wave {
  width: 100%;
  position: absolute;
  bottom: -5%;
  margin: auto;
}
.wave-dark{
  display: none;
}

.ChefContent {
  height: fit-content;
  background-color: var(--cards);
  padding: 0 60px 20px;
}

.ChefInner .Overlay {
  background-color: rgba(255, 255, 255, 0.393);
  width: 10%;
  height: 25%;
  border-radius: 5px;
  position: absolute;
  top: 6%;
  right: -100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transition: 0.5s ease-out;
}
.ChefInner .Overlay i {
  color: #37373f66;
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin: 15px;
  transition: 0.3s ease-out;
}
.ChefInner .Overlay i:hover {
  color: #37373f;
}
.left {
  padding-left: 0;
  padding-right: 20px;
}
.middle {
  padding-left: 10px;
  padding-right: 10px;
}
.right {
  padding-left: 20;
  padding-right: 0;
}
p:has(.special) {
  font-family: var(--font-primary);
  font-size: 50px;
  margin: 0;
  margin-bottom: 30px;
  color: var(--text-primary);
}
.special {
  font-family: var(--font-primary);
  color:  var(--color-primary);
  font-size: 50px;
}

/* ------------- */

.Gallery {
  background-color: var(--section);
  height: 1450px;
  text-align: center;
}

.GalleryInner {
  height: inherit;
  padding: 50px 0;
}
.pics {
  /* height: calc(100% - 250px); */
  height: 73rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
}
.pics img {
  width: 100%;
  transition: 0.5s;
}

.imgBox {
  width: 423.33px;
  height: auto;
  position: relative;
  /* top: 15px; */
  /* left: 15px; */
  overflow: hidden;
  border: 5px solid #fff;
}
.Gallery .Overlay {
  background-color: rgba(0, 0, 0, 0.668);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 40px;
  transition: 0.5s;
}

.imgBox:hover .Overlay {
  top: 0%;
}

.imgBox:hover img {
  transform: scale(1.1);
}
.overlayContent h2 {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.overlayContent p {
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 400;
  color: #dddddd;
}

/* ------------- */

.Contact {
  text-align: center;
  margin: auto;
  padding: 90px 0 90px 0;
}
.ContactContent {
  display: flex;
  flex-flow: row wrap;
}
.iframe {
  width: 100%;
  margin-bottom: 20px;
}
iframe {
  width: 100%;
}

.info {
  width: 100%;
  background-color: var(--info);
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  align-items: center;
  gap: 15px;
  padding: 25px;
}

.infoOuter {
  width: 50%;
  padding: 10px;
}

.infoText > * {
  margin: 0;
}

.lft {
  padding-left: 0;
}
.rgt {
  padding-right: 0;
}
.info h3 {
  color: #7d7d7d;
}
.info p,a {
  color: var(--text-primary);
  font-size: 16px;
}
.info i {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.info .icon {
  width: 50px;
  height: 50px;
  background-color:  var(--color-primary);
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contact form {
  width: 100%;
  background-color: var(--cards);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 1.875rem #00000014;
  padding: 15px;
}

input,textarea {
  padding: 15px;
  border: 2px solid #E8E3E3 ;
  resize: vertical;
  outline: none;
  transition: border-color 0.3s;
  font-family: var(--font-default);
}
textarea{
  min-height: 116px;
}
input:focus, textarea:focus{
  border-color: var(--color-primary);
}
#name,#email {
  width: 49.5%;
}

#message,#subject {
  width: 100%;
}
button{
  margin: 25px 0px 0px;
  padding:12px 40px;
  border-radius: 50px;
  background-color: var(--color-primary);
  color: var(--cards);
  border: 0;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: var(--font-default);
  transition: 0.5s;
}
button:hover{
  --color-primary: #E61414;
}
/* ------------ */

footer{
  background-color: #070607;
}
footer *{
  color: #fff;
}
.footerContainer{
  display: flex;
  padding: 40px 5px;
  flex-flow: row;
  gap: 1.25rem;
}
footer .sec1 , .sec3{
  width: calc(calc(100% - 1.25rem * 2) / 4);
  display: flex;
  flex-flow: column;
}
footer ul{
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
}
.sec1 a{
  font-size: 24px;
  font-weight: 400;
}
footer img{
  width: 40px;
  height: fit-content;
}
.sec1 div{
  display: flex;
  gap: 10px;
  align-items: center;
}
footer p , footer span{
  font-size: 16px;
  /* font-weight: 400; */
}
.sec1 h3{
  text-align: center;
  border-bottom: 2px solid #ddd6;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;

}

.sec1 h2{
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  position: relative;
  text-transform: capitalize;
}
.logo::after{
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 6px;
  border-radius: 50%;
}
.sec2{
  width: calc(calc(100% - 1.25rem * 2) / 2);
}
.sec2 p{
  margin: 10px 0px;
}
.sec2 h3{
  margin: 0;
}
.sec2 form{
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  align-items: center;
  margin: 20px 0px;
}
.sec2 input{
  width: 100%;
}
.sec2 button{
  width: 25%;
  margin: 0;
  border-radius: 0;
  padding:12px 12px;
  border: 0;
  color: var(--cards);
}
.sec2 input{
  padding:12px 12px;
  border: 0;
}

.sec2 ul, .sec3 ul{
  height: 94.8px;
  flex-flow: column wrap;
  margin-top: 10px;
  padding: 0;
  column-gap: 1.25rem;
}

.sec2 li{
  width: calc(50% - 1.25rem / 2);
  padding: 5px;
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}
.sec2 li:hover{
  transform: translateX(10px);
  background-color: #222;
}
.sec3 h3{
  margin: 0;
  margin-bottom: 10px;
}

.sec3 i{
  width: 2.5rem;
  height: 2.5rem;
  font-size: 22px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
}
.sec3 ul{
  height: fit-content;
}
.sec3 li{
  display: flex;
  align-items: center;
  gap: 8px;
}


