html {
  scroll-behavior: smooth;
}
/* font-family: "Amatic SC", sans-serif; */
/* font-family: "Inter", sans-serif; */
body {
  margin: 0;
}
.nav {
  box-shadow: 0px 0px 14px 0px #0000001b;
}

.navBar {
  width: 1310px;
  height: 39.2px;
  align-items: center;
  padding: 25px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  color: black;
}
.navBar h1 a {
  color: #212529;
  font-size: 30px;
  font-weight: 700;
}
.navBar li {
  padding: 5px 15px;
  font-size: 17px;
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  color: black;
}
.navBar li a {
  color: #7f7f90;
}
.navBar i {
  font-size: 25px;
  font-weight: 900;
}
/* --------- End Of Nav --------- */
/* ------------ Home ------------ */
.Home {
  background-color: #eeeeee;
}
.HomeContent > h2 {
  margin: 0;
  font-family: "Amatic SC", sans-serif;
}
.HomeContent{
  width: 524px;
  height: 310.2;
}
.HomeInner {
  width: 1310px;
  margin: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
/* -------- End of Home --------- */
